body{
    margin: auto;padding: 8%;background: url(prueba.jpeg);
    background-size: cover;
    background-position: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}